@import url("https://fonts.googleapis.com/css2?family=Inter&family=Sacramento&display=swap");

.no-scroll {
  overflow: hidden;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 110vh;
}

.home .name {
  position: relative;
  display: inline-flex;
}

.home .name-details {
  font-weight: lighter;
  opacity: 0;
}

.home .name p {
  font-family: "Sacramento", cursive;
  font-size: clamp(3rem, -0.1250rem + 15.7500vw, 12rem);
  margin: 0 1rem;
}

@media only screen and (max-width: 767px) {

  .home .name-details {
    font-size: smaller;
  }
  .home {
    height: 110vh;
  }
}