/*---------------- Navbar styles ---------------- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 999;
  align-items: center;
  padding: 3rem 0;
  background-color: rgb(254, 254, 254);
}

.navbar-list {
  display: flex;
  justify-content: center;
  height: 30px;
  padding: 0;
}

.navbar-list li {
  opacity: 0;
}

.navbar-list .nav-item {
  font-size: x-large;
  margin: 0 3rem;
}

/*---------------- Navbar animations ---------------- */
.nav-item:hover {
  cursor: pointer;
}

.nav-item {
  position: relative;
}

.nav-item::before {
  content: "";
  position: absolute;
  right: 100%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.3s ease-in-out, right 0.3s ease-in-out;
}
.nav-item:hover::before {
  width: 100%;
  right: 0;
}

.nav-item.active::before {
  width: 100%;
  right: 0;
}


.nav-item a {
  color: inherit;
}

@media only screen and (max-width: 767px) {
  .navbar-list .nav-item {
    font-size: 1em;
  }

  .nav-item {
    display: block;
  }

  .nav-item::before {
    transition: none;
  }
}
